*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar {
    background-color: #212a31;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
  }
  .navbar-brand a img{
    width: 70px;
    border-radius: 50%;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
    justify-content:space-between;
  }
  
  .navbar-nav li {
    margin-right: 20px;
  }
  
  .navbar-nav a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-nav a:hover {
    color: #ccc;
  }
  
   .navbar-toggle {
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.5em;
    padding: 5px;
  }
  
  .navbar-toggle span {
    background-color: #fff;
    display: block;
    height: 2px;
    margin-bottom: 5px;
    width: 20px;
  }
  

.main{
  padding: 30px;
  background-color: #748d92;
}
  .buying, .selling{
    width: 90vw;
    height: auto;
    display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
  }
  .buying img, .selling img{
    width: 50%;
    height: 300px;
    border-radius: 20px;
    height: 500px;
  }
  .buying-details, .selling-details{
    width: 40%;
    line-height: 1.5;
  }
.buying-details button, .selling-details button{
  width: 100px;
  padding: 10px;
  border: none;
  background-color:#212a31;
  color: #d3d9d4;
border-radius: 20px;
cursor: pointer;
margin-top: 10px;
}

#about{
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#d3d9d4;

}
.details{
  width: 700px;
 text-align: center;
}
.more-details{
  display: flex;
}
.more-details .child{
  padding: 10px;
  text-align: center;
}
.more-details .child img{
  width: 150px;
}


#review{
  text-align: center;
  padding: 20px;
  display:flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
.brands{
  width: 500px;
}
.brands-logos{
  width: 800px;
  display:flex ;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 30px;
}
.brands-logos img{
  width: 300px;

}


footer{
  background-color: #212a31;
  color: #d3d9d4;
}
.footer{
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 10px;
}
.footer .logo{
  width: 300px;
  line-height: 1.5;
  text-align:justify;
}
.footer .logo img{
  width: 150px;
  border-radius: 50%;
}

.footer .details-, .brands-, .Contact-details{
  padding: 20px;
  display: flex;
  flex-direction: column;
  line-height: 2;
  text-align: justify;
  justify-content: center;
}
.footer .details- h1, .brands- h1, .Contact-details h1{
  color: #748d92;
}
.footer .details- a, .brands- a{
text-decoration: none;
color: #d3d9d4;
}
footer .bottom{
  padding: 50px;
  color:darkgray;
}

  /* Responsive design */
  
  @media  (max-width: 424px) {
    .navbar-nav {
      display: none;
    }
    .navbar-toggle {
      display: block;
    }
    .main{
      padding: 0px;
    }
    .buying, .selling{
      width: 100%;
      display: flex;
      padding: 2px;
    }
.buying img, .selling img {
  width: 100px;
  height: 100px;

}
.buying-details, .selling-details{
  font-size: 7px;
}
.buying-details button, .selling-details button{
  width: 100px;
  height: auto;
  padding: 3px;
  border: none;
  margin: 10px;
  background-color: #748d92;
  color: #d3d9d4;
border-radius: 10px;

}

  }

@media (min-width:425px) and (max-width:768px){
  .navbar-nav {
    display: none;
  }
  .navbar-toggle {
    display: block;
  }
  .buying, .selling{
    padding: 4px;
  }
.buying img, .selling img {
width: 300px;
height: 200px;

}
.buying-details, .selling-details{
font-size: 10px;
}
.buying-details button, .selling-details button{
  width: 100px;
  height: auto;
  padding: 2px;
  border: none;
  margin: 10px;
  background-color: #748d92;
  color: #d3d9d4;
border-radius:10px;

}
}
  
  @media(min-width:769px){

      .navbar-toggle {
        display: none;
      }
  }
   
  